body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  background-color: #f3f6f3;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}
